html { 
	height: 100%; /* added to support Google map - why? */
}

body { 
	color:#333333; 
	font-family:'Helvetica',sans-serif; 
	text-align:center; 
	background-color: #edede1;
	padding:14px;
	height: 100%; /* added to support Google map - why? */
}

div.container {
	/* top level container for all content, left aligned inside a centered body   */
	/* optimized, i think, for a tablet -kdf																			*/
	background-color:#ffffff;
	margin: 0 auto;
	height: 800px;
	width: 900px;
	text-align:left;
	border: 1px dotted #da5e00;
	box-shadow: 8px 8px 10px #c9c9a7;
	border-top: 4px solid #c9c9a7;
	border-bottom: 15px solid #57574a;
}

div.shell {
	/* holds stuff beneath the header                             */
	/* point of reference for absolute positioning of body blocks */
	/* base font stylings                                         */
	position:relative;
	top:0px;
	left:0px;
	margin:20px;
	font-size:14px;
	color:#111111;
}
