<table>
<tr bgcolor="#003366"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#003366</td></tr>
<tr bgcolor="#343444"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#343444</td></tr>
<tr bgcolor="#4b5b6e"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#4b5b6e</td></tr>
<tr bgcolor="#d1dae3"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#d1dae3</td></tr>
<tr bgcolor="#e6ebf0"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#e6ebf0</td></tr>
<tr bgcolor="#f1f2df"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#f1f2df</td></tr>
<tr bgcolor="#cccccc"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#cccccc</td></tr>
<tr bgcolor="#333333"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#333333</td></tr>
<tr bgcolor="#c9c9a7"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#c9c9a7</td></tr>
<tr bgcolor="#bf6030"><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td bgcolor="#ffffff">#bf6030</td></tr>
</table>