/tmp.sql
*.pui
*.prj
*.conf
*.key
*.bak
*.cfg
*.tar
*.gz
*.odt
*.pdf
*.docx
*.ico
*.mo
bbb-test.sh
config_env.php
sensitive_config.php
error_log
timeZoneData.js
pilot/view/include/scrapToggleCode.php
pilot/guidestar/*
new_nexus
nexus/lib/*
nexus/web/vendor/*
nexus/web/modules/directory/views/include/*
nexus/log/*
nexus/partner/*
nexus/include/*
nexus/token/*
nexus/batch/PgDb.php
nexus/batch/Util.php
nexus/batch/module/messaging/*.log
pilot/view/include/tmpResults/*
pilot/view/include/download/tmpResults/*
pilot/model/test/*
pilot/batch/messageQueue/recover*
pilot/migration/Util.php
flash_scripts/*
database_models/*