/tmp.sql
*.pui
*.prj
*.conf
*.key
*.bak
*.cfg
*.tar
*.gz
*.odt
*.pdf
*.docx
*.ico
*.mo
bbb-test.sh
sensitive_config.php
error_log
pilot/view/include/scrapToggleCode.php
pilot/guidestar/*
new_nexus
nexus/lib/Validate.php
nexus/lib/rememberme/*
nexus/lib/bigbluebutton/*
nexus/web/vendor/*
nexus/partner/*
pilot/view/include/tmpResults/*
pilot/view/include/download/tmpResults/*
pilot/model/test/*
pilot/batch/messageQueue/recover*
pilot/migration/Util.php
flash_scripts/*
database_models/*