						<a href="javascript:void(0);" onclick="toggleTooltip('publishTip');" class="tooltip">
					    <span id="publishTip" class="" style="width:300px;">
        			<img class="callout" src="image/callout.gif" />	
							Check this box to list your contact information in the network directory.
							<p>You must enter your contact information here in your profile so that you can subscribe to receive various network event notifications. However, your contact information will only be visible in the network directory if you check this box.</p>
    					</span>
    					<span style='padding:5px;vertical-align:top;' class='fa fa-info-circle' ></span>
						</a>