<script>
	function getUserList(ssnRole) {
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange=function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			 	var jsonObj = JSON.parse(xmlhttp.responseText);
			 	
			 	// put row containers in the table, 1 for each user
			 	var tableRows = "";
			 	for (var i = 0; i < jsonObj.length; i++) { 
			 		tableRows = tableRows + "<tr id='userRow" + i + "'></tr>"; 
			 	}
       	document.getElementById("userTable").innerHTML = tableRows;
       	
       	// write each event into its row container
			 	for (var i = 0; i < jsonObj.length; i++) { 
			 		var processor = "modules/user/control/userDeleteProcessor.php";
			 		if (jsonObj[i].status == "pending") {
			 			processor = "modules/user/control/invitationDeleteProcessor.php";
			 		}
			 		var tableUser = "<tr>" +
       			"<td>" +
	       			"<div class='user'>" +
  							"<span class='date'>" + jsonObj[i].fname + "</span><br/>" +
  							"<span class='month'>" + jsonObj[i].lname + "</span>" +
							"</div>" +
       			"</td>" + 
       			"<td>" +
	          	"<div class='meeting'>" +
          			"<span class='descr' style='font-size:90%;' >" + jsonObj[i].email + 
	          			"<p>" + 
	          			((jsonObj[i].role == "admin") ? "<span class='fa fa-key' style='color:#004d62;padding-right:10px;'></span></a>" : "") +
	          			((ssnRole == "admin" && jsonObj[i].sessionUser != jsonObj[i].uidpk) ? "<a href='" + processor + "?id=" + jsonObj[i].uidpk + "' onclick='return confirm(\"Please confirm this delete.\");'><span class='fa fa-trash-o' style='color:#d27b4b;padding-right:10px;'></span></a>" : "") +
	          			"</p>" +
          			"</span>" +
          		"</div>" +
          	"</td>" +
       		"</tr>";
       		document.getElementById("userRow" + i).innerHTML = tableUser;
				}       	
			}
		}
		xmlhttp.open("GET","src/framework/userManager.php");
		xmlhttp.send();  		
	}
</script>

<a id='add_user_control' href='javascript:void(0);' style='position:absolute;margin-left:650px;padding-top: 20px;'></span><span style='padding:0px;' class='fa fa-user-plus fa-2x' ></span></a>				
<table id="userTable" class="pure-table">
	<script> getUserList('<?php echo $_SESSION['role']; ?>'); </script>
</table>

