					<table style="width:45%;float:left;" class="pure-table">
        			<tr>
            		<td>
            			<div class="user">
  									<span class="fname">Kenneth</span><br/>
  									<span class="lname">Cavness</span><span style="padding-left:5px;margin:0px;color:#d27b4b;" class="fa fa-key" ></span><br/>
									</div>
								</td>
            		<td>
            			<div class="">
            				<span class="descr" style="font-size:80%;" >Something descriptive... title?</span>
            			</div>
            		</td>
            		<td style="vertical-align:top;width:30px;padding: 20px 10px 0px 0px !important;">
            			<a href="javascript:void(0);" onclick="document.getElementById('user_control').click();"><span style="margin:0px;color:#d27b4b;float:right;" class="fa fa-pencil-square-o" ></span>
            		</td>
        			</tr>
        			<tr>
            		<td>
            			<div class="user">
  									<span class="fname">Lou</span><br/>
  									<span class="lname">Patel</span><br/>
									</div>
								</td>
            		<td>
            			<div class="">
            				<span class="descr" style="font-size:80%;" >Something descriptive... title?</span>
            			</div>
            		</td>
            		<td style="vertical-align:top;width:30px;padding: 20px 10px 0px 0px !important;">
            			<a href="javascript:void(0);" onclick="document.getElementById('user_control').click();"><span style="margin:0px;color:#d27b4b;float:right;" class="fa fa-pencil-square-o" ></span>
            		</td>
        			</tr>		
        			<tr>
            		<td>
            			<div class="user">
  									<span class="fname">Gretchen</span><br/>
  									<span class="lname">Saylor</span><br/>
									</div>
								</td>
            		<td>
            			<div class="">
            				<span class="descr" style="font-size:80%;" >Something descriptive... title?</span>
            			</div>
            		</td>
            		<td style="vertical-align:top;width:30px;padding: 20px 10px 0px 0px !important;">
            			<a href="javascript:void(0);" onclick="document.getElementById('user_control').click();"><span style="margin:0px;color:#d27b4b;float:right;" class="fa fa-pencil-square-o" ></span>
            		</td>
        			</tr>				
					</table>
					<a id="adduser_control" href="javascript:void(0);"><span style="float:right;padding-top:4px;margin:0px;color:#d27b4b;" class="fa fa-user-plus fa-2x" ></span></a>					
					<table style="width:45%;margin-left:5px;float:left;" class="pure-table">
        			<tr>
            		<td>
            			<div class="user">
  									<span class="fname">Lou</span><br/>
  									<span class="lname">Patel</span><br/>
									</div>
								</td>
            		<td>
            			<div class="">
            				<span class="descr" style="font-size:80%;" >Something descriptive... title?</span>
            			</div>
            		</td>
            		<td style="vertical-align:top;width:30px;padding: 20px 10px 0px 0px !important;">
            			<a href="javascript:void(0);" onclick="document.getElementById('user_control').click();"><span style="margin:0px;color:#d27b4b;float:right;" class="fa fa-pencil-square-o" ></span>
            		</td>
        			</tr>		
        			<tr>
            		<td>
            			<div class="user">
  									<span class="fname">Gretchen</span><br/>
  									<span class="lname">Saylor</span><br/>
									</div>
								</td>
            		<td>
            			<div class="">
            				<span class="descr" style="font-size:80%;" >Something descriptive... title?</span>
            			</div>
            		</td>
            		<td style="vertical-align:top;width:30px;padding: 20px 10px 0px 0px !important;">
            			<a href="javascript:void(0);" onclick="document.getElementById('user_control').click();"><span style="margin:0px;color:#d27b4b;float:right;" class="fa fa-pencil-square-o" ></span>
            		</td>
        			</tr>				
					</table>