<script>
	function getUserList(ssnRole) {
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange=function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			 	var jsonObj = JSON.parse(xmlhttp.responseText);
			 	
			 	// put row containers in the table, 1 for each user
			 	var tableRows = "";
			 	for (var i = 0; i < jsonObj.length; i++) { 
			 		tableRows = tableRows + "<tr id='userRow" + i + "'></tr>"; 
			 	}
       	document.getElementById("userTable").innerHTML = tableRows;
       	
       	// write each event into its row container
			 	for (var i = 0; i < jsonObj.length; i++) { 
			 		var tableUser = "<tr>" +
       			"<td>" +
	       			"<div class='user'>" +
  							"<span class='date'>" + jsonObj[i].fname + "</span><br/>" +
  							"<span class='month'>" + jsonObj[i].lname + "</span>" +
							"</div>" +
       			"</td>" + 
       			"<td>" +
	          	"<div class='meeting'>" +
          			"<span class='purpose'></span>" + "test" + "<br/>" +
          			"<span class='descr' style='font-size:90%;' >" + jsonObj[i].descr + 
	          			//"<p><span style='padding-right:5px;margin:0px;color:#d27b4b;' class='fa fa-envelope' ></span>Reserved by: " + jsonObj[i].fname + " " +  jsonObj[i].lname + "<span id='reserveLname'></span></p>" +
	          			//((jsonObj[i].adder == jsonObj[i].sessionUser) ? "<p><a href='modules/schedule/control/eventDeleteProcessor.php?id=" + jsonObj[i].uuid + "' onclick='return confirm(\"Please confirm this delete.\");'><span class='fa fa-trash-o' style='color:#d27b4b;'></span></a></p>" : " ") +
	          			((ssnRole == "admin") ? "<p><a href='modules/user/control/userDeleteProcessor.php?id=" + jsonObj[i].uidpk + "' onclick='return confirm(\"Please confirm this delete.\");'><span class='fa fa-trash-o' style='color:#d27b4b;'></span></a></p>" : " ") +
          			"</span>" +
          		"</div>" +
          	"</td>" +
       		"</tr>";
       		document.getElementById("userRow" + i).innerHTML = tableUser;
				}       	
			}
		}
		xmlhttp.open("GET","src/framework/userManager.php");
		xmlhttp.send();  		
	}
</script>

<a id='add_user_control' href='javascript:void(0);' style='position:absolute;padding-left:650px;padding-top: 20px;'></span><span style='padding:0px;' class='fa fa-user-plus fa-2x' ></span></a>				
<table id="userTable" class="pure-table">
	<script> getUserList('<?php echo $_SESSION['role']; ?>'); </script>
</table>

