      <p>Start Date: <input type="text" id="datepicker"></p> 
    
      <p>Time: <input type="text" id="basicExample"></p>
    
      <p>Duration: <select name="duration" id="duration">
        <option>30 minutes</option>
          <option>1 hour</option>
          <option>1 hour 30 minutes</option>
          <option>2 hours</option>
          <option>2 hours 30 minutes</option>
          <option>3 hours</option>
          <option>3 hours 30 minutes</option>
          <option>4 hours</option>
        </select>  
      </p>
