					<table style="width:100%;" class="pure-table">
        			<tr>
            		<td>
            			<div class="event">
  									<span class="date">New</span><br/>
  									<span>Reservation</span>
									</div>
								</td>
            		<td>

<form id="schedule-form" class="pure-form" action="" method="post">
	<fieldset>

      <div>
      <input type="text" placeholder="Purpose" style="">

		</div>
		
		<div style="margin-top:10px;">
      <input type="text" id="datepicker" placeholder="Date" style="width:80px;margin-top:-32px;">

      <select name="time" id="basicExample" style="width:140px;">
      	<option selected>Time</option>
        <option>6:00 a.m.</option>
        <option>6:30 a.m.</option>
        <option>7:00 a.m.</option>
        <option>7:30 a.m.</option>
        <option>8:00 a.m.</option>
        <option>8:30 a.m.</option>
        <option>9:00 a.m.</option>
        <option>9:30 a.m.</option>
        <option>10:00 a.m.</option>
        <option>10:30 a.m.</option>
        <option>11:00 a.m.</option>
        <option>11:30 a.m.</option>
        <option>12:00 p.m.</option>
        <option>12:30 p.m.</option>       
        <option>1:00 p.m.</option>
        <option>1:30 p.m.</option>
        <option>1:00 p.m.</option>
        <option>2:30 p.m.</option>
        <option>2:00 p.m.</option>
        <option>2:30 p.m.</option>
        <option>3:00 p.m.</option>
        <option>3:30 p.m.</option>        
        <option>4:00 p.m.</option>
        <option>4:30 p.m.</option>
        <option>5:00 p.m.</option>
        <option>5:30 p.m.</option>
        <option>6:00 p.m.</option>
        <option>6:30 p.m.</option>
        <option>7:00 p.m.</option>
        <option>7:30 p.m.</option>
        <option>8:00 p.m.</option>
        <option>8:30 p.m.</option>
        <option>9:00 p.m.</option>
        <option>9:30 p.m.</option>
        <option>10:00 p.m.</option>
        <option>10:30 p.m.</option>
        <option>11:00 p.m.</option>
        <option>11:30 p.m.</option>        
        <option>12:00 a.m.</option>
        <option>12:30 a.m.</option>
        <option>1:00 a.m.</option>
        <option>1:30 a.m.</option>
        <option>2:00 a.m.</option>
        <option>2:30 a.m.</option>
        <option>3:00 a.m.</option>
        <option>3:30 a.m.</option>
        <option>4:00 a.m.</option>
        <option>4:30 a.m.</option>
        <option>5:00 a.m.</option>
        <option>5:30 a.m.</option>
      </select>
 
      <select name="duration" id="duration" style="width:140px;">
      	<option selected>Duration</option>
        <option>30 minutes</option>
        <option>1 hour</option>
        <option>1 hour 30 min</option>
        <option>2 hours</option>
        <option>2 hours 30 min</option>
        <option>3 hours</option>
        <option>3 hours 30 min</option>
        <option>4 hours</option>
      </select>
      
      <input type="submit" value="Go" /> 
    </div> 			
		</div>
   

  </fieldset>
</form>  

            		</td>
            		            		<td>
            			<a href="javascript:void(0);" style="float:right;margin-right:6px;">Cancel</a>
            		</td>
        			</tr>
        	</table> 

