<form id="join-form" class="pure-form pure-form-aligned" action="" method="post">
	<fieldset>
	  <div class="pure-control-group">
			<p><a id="techcheck_control" href="javascript:void(0)"><span style="padding:0px;margin:0px;color:#d27b4b;" class="fa fa-exclamation-triangle" ></span></a> Status check summary message here with correct icon. </p>
			<p>Click on icon for details.</p/>
			<p>If something is fatal, block the join (i.e., no flash)</p>
			<form id="join-form" class="" action="" method="post">
			<input type="submit" value="Enter Conference Room" />
			</form>
    </div>
    

  </fieldset>
</form>   
