						<a href="javascript:void(0);" onclick="toggleTooltip('roomTypes');" class="tooltip">
					    <span id="roomTypes" class="">
        			<img class="callout" src="image/callout.gif" />	
        			<table>
        				<tr><td>Video Chat<br/></td><td>Shows web camera displays prominently.</td></tr>
								<tr><td>Collaboration<br/></td><td>Use for a formal presentation or fully collaborative meeting, with access to all conference tools (presentation screen, chat, cameras, etc.)</td></tr>
								<tr><td>Video Link<br/></td><td>Enhance a telephone "conference bridge" audio meeting with cameras and visual components (presentation screen, chat room, etc.) </td></tr>
								<tr><td>Webinar<br/></td><td>Broadcast a presentation in "listen-only" mode for guests.</td></tr>
        			 </table>
    					</span>
    					<span style='padding:5px;vertical-align:top;' class='fa fa-info-circle' ></span>
						</a>