						<a href="javascript:void(0);" onclick="toggleTooltip('roomTypes');" class="tooltip">
					    <span id="roomTypes" class="">
        			<img class="callout" src="image/callout.gif" />	
        			<table>
        				<tr><td>Video Chat<br/></td><td>Default view shows web camera displays prominently.</td></tr>
								<tr><td>Collaboration<br/></td><td>Default view shows all conference tools (presentation screen, chat, cameras, etc.) This type of meeting is best for a formal presentation or fully collaborative meeting</td></tr>
								<tr><td>Video Link<br/></td><td>Allows sharing of cameras and visual components (presentation screen, chat room, etc.) Designed to enhance a telephone "conference bridge" audio meeting.</td></tr>
        			 </table>
    					</span>
    					<span style='padding:5px;vertical-align:top;' class='fa fa-info-circle' ></span>
						</a>