						<a href="javascript:void(0);" onclick="toggleTooltip('roomTypes');" class="tooltip">
					    <span id="roomTypes" class="">
        			<img class="callout" src="image/callout.gif" />	
        			<table>
        				<tr><td>Video Chat<br/></td><td>Shows web camera displays prominently. This type of meeting is excellent for an informal check-in or impromptu type of conversation. This layout can be adjusted to show more tools after the meeting begins.</td></tr>
								<tr><td>Collaboration<br/></td><td>Shows all conference tools (presentation screen, chat, cameras, etc.) This type of meeting is best for a formal presentation or fully collaborative meeting. This layout can be adjusted to show different tools after the meeting begins.</td></tr>
								<tr><td>Video Link<br/></td><td>Allows sharing of cameras and visual components (presentation screen, etc.) but does not allow audio communication. This configuration is designed to enhance a centralized meeting where a few participants join remotely and for which a phone line is available for audio communication (for example, a Polycom&reg; device).</td></tr>
        			 </table>
    					</span>
    					<span style='padding:5px;vertical-align:top;' class='fa fa-info-circle' ></span>
						</a>