					<table style="width:100%;margin-bottom:5px;" class="pure-table">
        			<tr>
            		<td>
            			<div class="event">
  									<span class="date">Now</span><br/>
									</div>
								</td>
            		<td>
            			<div class="meeting">
            				<span class="purpose" style="font-size:110%;">Good news! Your room is available right now.</span><br/>
            			</div>
            		</td>
            		<td style="vertical-align:top;">
            			<a id="join_control" href="javascript:void(0);" style="float:right;"><span style="margin-right:12px;" class="fa fa-sign-in fa-3x" ></span>Join</a>
            		</td>
        			</tr>
        	</table>
