					<a id='join_control' href='javascript:void(0);' style='position:absolute;padding-left:648px;padding-top:8px;'><span class="fa fa-sign-in fa-3x" ></span></a>				
					<table class="pure-table">
        			<tr>
            		<td>
            			<div class="event">
  									<span class="date">Now</span><br/>
									</div>
								</td>
            		<td>
	        				<div class='meeting'>
          					<span class='purpose'>Good news! Your room is available right now.</span>
          				</div>
          			</td>
       				</tr>
       			</table>
       	