					<table style="width:100%;" class="pure-table">
        			<tr>
            		<td>
            			<div class="event">
  									<span class="day">Wednesday</span><br/>
  									<span class="date">30</span><br/>
  									<span class="month">June</span><br/>
  									<span class="time">8:00 pm CT</span>
									</div>
								</td>
            		<td>
            			<div class="meeting">
            				<span class="purpose">Board Meeting</span><br/>
            				<span class="descr" style="font-size:90%;" >This is the quarterly meeting of the Board of Directors
            					<p><span style="padding-right:5px;margin:0px;color:#d27b4b;" class="fa fa-envelope" ></span>Reserved by: Kathy Flint</p>
            				</span>
            			</div>
            		</td>
            		<td style="vertical-align:top;">
            			<a id="schedule_control" href="javascript:void(0);" style="float:right;"></span><span style="padding:0px;" class="fa fa-calendar-o fa-2x" ></span><span style="padding-left:2px;" class="fa fa-plus" ></span>
            		</td>
        			</tr>
        			<tr>
            		<td>
            			<div class="event">
  									<span class="day">Wednesday</span><br/>
  									<span class="date">30</span><br/>
  									<span class="month">June</span><br/>
  									<span class="time">8:00 pm CT</span>
									</div>
								</td>
            		<td>
            			<div class="meeting">
            				<span class="purpose">Board Meeting</span><br/>
            				<span class="descr" style="font-size:90%;" >This is the quarterly meeting of the Board of Directors
            					<p><span style="padding-right:5px;margin:0px;color:#d27b4b;" class="fa fa-envelope" ></span>Reserved by: Kathy Flint</p>
            				</span>
            			</div>
            		</td>
        			</tr>					
					</table>