<table style="width:100%;border:2px solid #a6c3ce !important;" class="pure-table">
	<tr>
  	<td>
  		<div class="event">
  			<span class="date">New</span><br/>
  			<span>Reservation</span>
			</div>
		</td>
    <td>
			<form id="schedule-form" class="pure-form" action="modules/schedule/control/scheduleProcessor.php" method="post">
				<fieldset>
      		<div>
	      		<input type="text" name="meeting-name" style="width:97%;" maxlength="50" placeholder="Purpose" >
					</div>
					<div id="tz-static" style="margin-top:10px;">
						<span style="font-size:90%;"><b>Time Zone: </b><span id="local-tzDisplay">Test</span><a href="javascript:void(0);" style="margin-left:10px;">Change</a></span>
						<input id="local-tzFormField" type="hidden" name="tzone-name" value="America/Chicago" />
					</div>
					<div id="tz-select" style="display:none;margin-top:10px;">
					</div>
					<div style="margin-top:10px;">
	      		<input type="text" id="datepicker" name="meeting-date" placeholder="Date" style="width:110px;margin-top:-32px;">	
      			<select id="basicExample" name="meeting-time" style="width:140px;">
	      			<option selected>Time</option>
        			<option value="06:00:00">6:00 AM</option>
        			<option value="06:30:00">6:30 AM</option>
        			<option value="07:00:00">7:00 AM</option>
        			<option value="07:30:00">7:30 AM</option>
        			<option value="08:00:00">8:00 AM</option>
        			<option value="08:30:00">8:30 AM</option>
        			<option value="09:00:00">9:00 AM</option>
        			<option value="09:30:00">9:30 AM</option>
        			<option value="10:00:00">10:00 AM</option>
        			<option value="10:30:00">10:30 AM</option>
        			<option value="11:00:00">11:00 AM</option>
        			<option value="11:30:00">11:30 AM</option>
        			<option value="12:00:00">12:00 PM</option>
        			<option value="12:30:00">12:30 PM</option>       
        			<option value="13:00:00">1:00 PM</option>
        			<option value="13:30:00">1:30 PM</option>
        			<option value="14:00:00">1:00 PM</option>
        			<option value="14:30:00">2:30 PM</option>
        			<option value="15:00:00">2:00 PM</option>
        			<option value="15:30:00">2:30 PM</option>
        			<option value="16:00:00">3:00 PM</option>
        			<option value="16:30:00">3:30 PM</option>        
        			<option value="17:00:00">4:00 PM</option>
        			<option value="17:30:00">4:30 PM</option>
        			<option value="18:00:00">5:00 PM</option>
        			<option value="18:30:00">5:30 PM</option>
        			<option value="19:00:00">6:00 PM</option>
        			<option value="19:30:00">6:30 PM</option>
        			<option value="20:00:00">7:00 PM</option>
        			<option value="20:30:00">7:30 PM</option>
        			<option value="21:00:00">8:00 PM</option>
        			<option value="21:30:00">8:30 PM</option>
        			<option value="22:00:00">9:00 PM</option>
        			<option value="22:30:00">9:30 PM</option>
        			<option value="23:00:00">10:00 PM</option>
        			<option value="23:30:00">10:30 PM</option>
        			<option value="24:00:00">11:00 PM</option>
        			<option value="24:30:00">11:30 PM</option>        
        			<option value="00:00:00">12:00 AM</option>
        			<option value="00:30:00">12:30 AM</option>
        			<option value="01:00:00">1:00 AM</option>
        			<option value="01:30:00">1:30 AM</option>
        			<option value="02:00:00">2:00 AM</option>
        			<option value="02:30:00">2:30 AM</option>
        			<option value="03:00:00">3:00 AM</option>
        			<option value="03:30:00">3:30 AM</option>
        			<option value="04:00:00">4:00 AM</option>
        			<option value="04:30:00">4:30 AM</option>
        			<option value="05:00:00">5:00 AM</option>
        			<option value="05:30:00">5:30 AM</option>
      			</select>	 
      			<select id="duration" name="meeting-duration" style="width:140px;">
	      			<option selected>Duration</option>
        			<option value="00:30:00">30 minutes</option>
        			<option value="01:00:00">1 hour</option>
        			<option value="01:30:00">1 hour 30 min</option>
        			<option value="02:00:00">2 hours</option>
        			<option value="02:30:00">2 hours 30 min</option>
        			<option value="03:00:00">3 hours</option>
        			<option value="03:30:00">3 hours 30 min</option>
        			<option value="04:00:00">4 hours</option>
      			</select>
		    	</div> 			
				</fieldset>
			</form>  
		</td>
    <td>
    	<a href="javascript:void(0);" onclick="document.getElementById('schedule_control').click();" style="float:right;margin-right:6px;">Cancel</a><br/>
      <a id="schedule-form-submit" class="pure-button button-menu" href="javascript:void(0)" onclick="eventValidateAndSubmit();" style="float:right;background-color:#d27b4b;width:70px;font-size:90%;margin-top:45px;color:#e6e6e6">Reserve</a>
 		</td>
	</tr>
</table> 

